body{
	background-attachment: fixed;
	background:#0F8E40; 
}

#global{
	width: 100%;
	margin: -4px;
	margin-top: -5px;
	padding: 0px;
	background:#9b9b9b9b; 
	box-shadow: 0px 0px 2px #ccc;
	
}
header{
	padding: 0px;
	margin: 0px;
	background: #0F8E40;
}


#logo{
	
	width: auto;
	height: auto;
	float: left;
	
	text-align: center;
	justify-content: center;
}
.radio{
	float: left;
	height: auto;
	background: #0F8E40;
}
.clasificados{
	float: left;
	height: auto;
	background: #0F8E40;
}
#menu{
	border: 20px;
	border-color:white;
	border-style:solid; 
	font-family: sans-serif;
	background: #333;
	width: 100%
	text-transform:uppercase;
	margin: 0px auto;
	padding-left: 0px;
	padding-right: 20px;
	margin-top: 0px;
	line-height: 16px;

}
#menu ul{
	line-height: 46px;
	list-style: none;
	background-color: #0D7936;
	
}
#menu ul li{
	height: 46px;
	display: inline-block;
	transition: all 300ms;
	background: #0D7936; 
	color: black;
	margin: none;
	padding: none;
	
}

.sociales{
	background: #EA1066;
}
.diez{
	background: #FE6600;
}
.sociales:hover{ background: #222222 }
.diez:hover{ background: #222222 }
#menu ul li:hover{ background: #222222 }

#menu a{
	display: block;
	color: white;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px; 
	
}
#posts{
	width: 100%;
	float: auto;
	font-family: sans-serif;
	text-align: center;
	background: #222222;
}
.post{
	
	background: #222222;
	padding: 7px;
	
}
.post h2{
	font-size: 30px;
	color: #222222;

}

.post p{
	margin-top: 30px;
	margin-bottom: 20px;
	line-height: 17px;
}
.sub-footer{
	border-color:white;
	border-style:solid; 
	font-family: sans-serif;
	background: #292929;
	width: 100%
	text-transform:uppercase;
	margin-bottom: 20px;
}
.sub-footer ul{
	line-height: 46px;
	list-style: none;
	background-color: #292929;
}
.sub-footer ul li{
	height: 46px;
	display: inline-block;
	transition: all 300ms;
	background: #292929; 
	color: black;
	margin: none;
	padding: none;
} 
footer{
	font-family: helvetica;
	color: gray;
	background: #292929;
	background-color: #292929;
	height: 47px;
	
	margin: 0px auto;
	padding-left: 0px;
	padding-right: 20px;
	margin-top: 0px;
	line-height: 16px;
}
.Viva{
	width: 300px;
	float: left;
	height: auto;
	
}
.Mi{
	float: left;
	width: 300px;
	height: auto;
	
}
.Bolivia{
	float: left;
	width: 300px;
	height: auto;
	
}
