table{
	width: 50%;
	border: 1px solid #000C00;
	border-spacing: 0;
	border-style: : groove;
	height:30%;
	border-color: black;
	
}
.sexo{
	
	width: 50%;
}
th,thead{
	width: 50px;
	border-spacing: 0;
	border: 1px solid #000C00;
	height: 50px;
	border-style: : groove;
	background: #3b59ef;
	border-color: black;
}
td,tr,tbody{
	width: 50px;
	border-spacing: 0;
	border: 1px solid #000C00;
	height: 50px;
	border-style: : groove;
	background: #d1d7f7;
	border-color: black;
}
input[type=radio] {
display: inline !important;
}